.r-daml9f-hs {
    color: rgb(224, 36, 94) !important;
}

.r-wcu338-hs {
    background-color: rgba(224, 36, 94, 0.1) !important;
}

.filtered {
    background-color: rgba(84, 84, 84, 0.47) !important;
    padding: 5px;
}
